---
import Badge from '../components/Badge.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Linkedin from '../components/icons/Linkedin.astro';
import GitHub from '../components/icons/GitHub.astro';
import Youtube from '../components/icons/Youtube.astro';
import SocialPill from '../components/SocialPill.astro';
import Mail from '../components/icons/Mail.astro';
import Download from '../components/icons/Download.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import Code from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
import Aboutme from '../components/Aboutme.astro';
import AboutmeIcon from '../components/icons/Aboutme.astro';
import Studies from '../components/Studies.astro';
import StudiesIcon from '../components/icons/Book.astro';
import ServicesIcon from '../components/icons/Desktop.astro';
import Services from '../components/Services.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title = "Porfolio de Sebastián López - Programador y Desarrollador Web y Software"
        description = "Contrata a Sebastián López para crear tu pagina web, sitios web, aplicaciones y software. Desarrollador web y de software con 7 años de experiencia, desarrollador de videojuegos con 1 año de experiencia. Creador de contenido en YouTube.">
	<main class="px-4">
        <SectionContainer class="py-36 ">
            <img class="rounded-full size-16 mb-4" src="https://scontent.fbga2-1.fna.fbcdn.net/v/t39.30808-6/502728290_4114608498758076_7697171140042965539_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeHq1cyRaNo6gjBEvOEXvev8Owi1a960MWg7CLVr3rQxaKWn4J85OhF_h3s6Nxkotiu1D0WaPf6tog-dicv9jj6N&_nc_ohc=XmbFSiIuch0Q7kNvwEnJVf9&_nc_oc=Adm7_vPANWiGhI2cXE8eA8khPvnei8e29Ya8Esbt38YUVzgBXiic3qckT_YwiVBQ6BA4dPuM21cDa8zZn0L4zeBx&_nc_zt=23&_nc_ht=scontent.fbga2-1.fna&_nc_gid=88T1aELNm5YRtPbu4xMf3w&oh=00_AfbnmpAcRIiXG_gS1rjjwLBiYFaCDE-vKEJyUOaKIQxBLw&oe=68E19965" alt="sebas photo">
            <h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">Hey, Soy Sebastián <a href="https://www.linkedin.com/in/sebaslopezofi/" target="_blank" rel="noopener" class="flex justify-center items-center"><Badge>Disponible para trabajar</Badge></a></h1>
            <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]"><span> Estudiante de ingeniería de sistemas con 7 años de experiencia.</span> <span class="text-amber-200/90"> Desarrollador Web Full Stack, Desarrollador de Software y de Videojuegos.</span> 
                <span class="text-fuchsia-300/80"> De los patios, Colombia.</span> 
                <span class="opacity-75">Especializado en soluciones web únicas. </span></h2>
            <nav class="flex gap-4 mt-8 flex-wrap">
                <SocialPill href="https://drive.google.com/uc?export=download&id=1DpRY7SF_7-mtSEsVfWisZV8mCHFckVqq">
                    <Download class="size-4 md:size-6"/>
                    Descargar CV
                </SocialPill>
                <SocialPill href="https://www.linkedin.com/in/sebaslopezofi/">
                    <Linkedin class="size-4 md:size-6 "/>
                    LinkedIn
                </SocialPill>
                <SocialPill href="https://github.com/SebsMusicLive">
                    <GitHub class="size-4 md:size-6"/>
                    GitHub
                </SocialPill>
                <SocialPill href="https://www.youtube.com/@CodeBreaker_Programming">
                    <Youtube class="size-4 md:size-6"/>
                    Youtube
                </SocialPill>
                <SocialPill href='mailto:lopezortegajohansebastian@gmail.com?subject=Contacto%20desde%20tu%20portafolio&body=Hola%20Sebastián%2C%0D%0A%0D%0AQuisiera%20ponerme%20en%20contacto%20contigo...'>
                    <Mail class="size-4 md:size-6"/>
                    Correo
                </SocialPill>
                
                
            </nav>
        </SectionContainer>
        <SectionContainer id="sobre-mi" class="mb-10">
            <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center"><AboutmeIcon class="size-7"/>Sobre mi</h2>
            <Aboutme />
        </SectionContainer>

        <SectionContainer id="experiencia" class="mb-10">            
            <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center"><Briefcase class="size-7"/>Experiencia laboral</h2>
            <Experience/>
        </SectionContainer>
        <SectionContainer id="proyectos" class="mb-10">            
            <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center"><Code class="size-7"/>Proyectos</h2>
            <Projects />
        </SectionContainer>
        <SectionContainer id="estudios" class="mb-10">
            <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center"><StudiesIcon class="size-7"/>Estudios</h2>
            <Studies />
        </SectionContainer>

        <SectionContainer id="servicios" class="mb-10">
            <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center"><ServicesIcon class="size-7"/>Servicios</h2>
            <Services />
        </SectionContainer>
        
    </main>
</Layout>
