---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Sebastián López. Empecé mi como programador a los 17 años gracias a  <strong
        > La Especialidad de desarrollo de Software </strong
      > realizada en mi colegio del que me gradúe con honores en 2020.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >Fui el mejor proyecto de grado en el colegio de mi especialidad desarrollo de software</strong
      >. Galardonado con una medalla.
    </p>

    <p>
      Como creador de contenido, <strong
        > he subido cursos de programación y video tutoriales
       <em class="italic">En lenguajes como Java, Python, entre otros</em> en Youtube</strong
      >. Mi objetivo es enseñar a las personas y seguir aprendiendo del mundo de la programación.
    </p>
  </div>

  <img width="200" height="200" src="Photo-about-me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>