<header class="sticky top-0 left-0 z-50 w-full bg-[#4422A0]/15 backdrop-blur-md">
  <div class="w-full xl:w-[1120px] mx-auto px-4">
    <nav class="flex justify-center items-center py-5 gap-x-10 opacity-80">
      <a href="#top">Inicio</a>
      <a href="#sobre-mi">Sobre mi</a>
      <a href="#experiencia">Experiencia</a>
      <a href="#proyectos">Proyectos</a>
      <a href="#estudios">Estudios</a>
      <a href="#servicios">Servicios</a>
    </nav>
  </div>
</header>
